* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heading h1 {
  font-size: 3.5rem;
  margin: 2rem 0rem 2rem 0rem;
  text-align: center;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255);
}
.turn_msg {
  text-align: center;
}
.turn_msg .msg {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  width: 30%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 3rem;
  color: #fff;
  border: 3px solid rgb(243, 241, 237);
  background: linear-gradient(289deg, #d3e1b8, #c2b8e1, #14c587, #9b519f);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 29s ease infinite;
  -moz-animation: AnimationName 29s ease infinite;
  animation: AnimationName 29s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
.table_div {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_main tr td {
  width: 100px;
  height: 100px;
  background: whitesmoke;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
}
.table_main tr td:hover {
  background: linear-gradient(
    289deg,
    #88b729,
    #d3e1b8,
    #c2b8e1,
    #f51a48,
    #7b1a6b,
    #14c587,
    #f29223
  );
  background-size: 1400% 1400%;
  color: #fcf7f7;
  -webkit-animation: AnimationName 40s ease infinite;
  -moz-animation: AnimationName 40s ease infinite;
  animation: AnimationName 40s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}

.replay_div {
  text-align: center;
}
.replay_div .replay_btn {
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  width: 15vw;
  cursor: pointer;
  background: linear-gradient(220deg, #d3e1b8, #c2b8e1, #14c587, #27c8b4);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 77% 0%;
  }
  50% {
    background-position: 24% 100%;
  }
  100% {
    background-position: 77% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 77% 0%;
  }
  50% {
    background-position: 24% 100%;
  }
  100% {
    background-position: 77% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 77% 0%;
  }
  50% {
    background-position: 24% 100%;
  }
  100% {
    background-position: 77% 0%;
  }
}

.winDialog {
  border: 2px solid #fff;
  width: 10vw;
  height: 20vh;
  background-color: rgb(254, 72, 72);
  position: absolute;
  top: 45%;
  left: 45%;
  text-align: center;
}
.winDialog h2 {
  color: #fff;
  margin: 2rem 2rem 0.5rem 2rem;
}
.winDialog button {
  background: red;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  border: 2px solid #ffff;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  section {
    display: none;
  }
  .warnuser_text:before {
    content: attr(data-employeename);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #fff;
  }
  .warning_users {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
